/* TYPOGRAPHY */

body{
    font-family: 'Roboto', sans-serif;
  }

$headings-margin-bottom: 1em;

h1 {
    color: currentColor;
}

h2 {
    color: rgb(103, 103, 103);
}

.card-title {
    font-size: 1.5em;
    color: rgb(103, 103, 103);
    padding-bottom: .7em;
}

p {
    color: rgb(51, 51, 51);
}
