
/* Background */
$white:    rgba(153, 153, 153, 0.2) ;
$red: green;
$blue: green;

/* Accent colour */
$green:   #149b0d;

/* Typography */
h2 {
    color: currentColor;
}

p {
    /* display: none; */
}
