
/* BREAKPOINTS */
$grid-breakpoints: (
  xs: 0,
  sm: 574px,
  md: 766px,
  lg: 990px,
  xl: 1200px,
  xxl: 1400px
);

/* PROFILE IMAGE */

.text-center .rounded-circle {
    object-fit: cover;
    margin-bottom: 2rem;

}